<div class="container-fluid">
  <div class="row">
    <div class="col-4 d-flex justify-content-center">
      <circle-progress
        [percent]="95"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <circle-progress
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
  </div>

  <div class="row">
    <div class="col-4 d-flex justify-content-center">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <circle-progress
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
    <div class="col-4 d-flex justify-content-center">
      <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
    </div>
  </div>
</div>
